<!DOCTYPE html>
<html>
<head>
  <title>Chartjs zoomable</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "chartjs/zoomable/application", media: "all" %>
  <%= javascript_include_tag "chartjs/zoomable/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
